*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
cumulora.mp4
ss/d.jpg
ss/na.jpg
ss/ne.jpg
ss/sr.jpg
ss/srf.jpg
ss/ss.jpg
ss/st.jpg
